<div class="page-header">

  <h1>
    Cтраница "{{item.title}}"
  </h1>

  <div class="page-actions">
    <a href="" class="btn btn-primary" ui-sref="analytics.project.pages({ projectId: project._id})">Назад</a>
  </div>
</div>

<div class="tab-content" ui-view>
  <div date="current.date" site="project" analytics-ga-report="query"></div>

  <div>
    <h2>Keywords</h2>
    <div class="col-xs-6">

      <table ng-table="keywordsTableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
          <td data-title="'Cлово'" sortable="'word'">{{row.word}}</td>
          <td data-title="'Частотность'" sortable="'frequency'">{{row.frequency}}</td>
          <td data-title="'Важность'" sortable="'importance'">{{row.importance}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>