<div class="row">

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4">
          <form>
            <div class="form-group">
              <div class="input-group" style="margin: 15px;">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Поиск..." ng-model="search.title">
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-8">
          <div class="page-actions">
            <a href="" style="margin: 15px;float: right;" class="btn btn-primary" ng-click="refreshPages()">Обновить список</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <loading ng-model="loading"></loading>

  <div class="col-md-12">
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="row in $data | filter:search">
        <td data-title="'Title'" filter="{title: searching}">
          <a href="#" ui-sref="pages({ projectId: item._id, pageId: row._id, paginationCount: counter, paginationPage: paginationPage })">{{row.title}}</a>
        </td>
        <td data-title="'Url'" filter="{title: 'text'}">
          <a href="#" ui-sref="pages({ projectId: item._id, pageId: row._id, paginationCount: counter, paginationPage: paginationPage })">{{row.url}}</a>
        </td>
      </tr>
    </table>
  </div>
 </div>