<div class="row">

  <loading ng-model="loading"></loading>

  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12" style="margin: 10px">
        <h2>Keywords</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="page-actions">
          <a href="" style="margin: 15px;float: right;" class="btn btn-primary" ng-click="refreshKeys()">Обновить список</a>
        </div>
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
          <thead>
          <colgroup></colgroup>
          <colgroup></colgroup>
          <colgroup span="{{dates.length}}"></colgroup>
          <colgroup span="{{dates.length}}"></colgroup>
          <tr>
            <th rowspan="2">Фраза</th>
            <th rowspan="2">Частотность</th>
            <th ng-repeat="service in services" colspan="{{dates.length}}">{{service | uppercase}}</th>
          </tr>
          <tr>
            <td ng-repeat="date in dates">{{date | datestring : "DD-MM-YYYY" : "DD/MM"}}</td>
            <td ng-repeat="date in dates">{{date | datestring : "DD-MM-YYYY" : "DD/MM"}}</td>
          </tr>
          </thead>

          <tr ng-repeat="row in $data">
            <td sortable="'word'">{{row.word}}</td>
            <td sortable="'frequency'">{{row.frequency || 'N/A'}}</td>
            <!--<td>-->
              <!--<td ng-repeat="service in services">-->
              <!--{{row.positions[0][service]}}-->

            <td ng-repeat="position in row.positions[0]['google'] track by $index" sortable="'position'">
              <div class="pull-left">
                {{ position }}
              </div>
              <div class="pull-right" ng-if="!$first && position != '-' && row.positions[0]['google'][$index-1] != '-'">
                <div class="position-index" ng-init="compared = position - row.positions[0]['google'][$index-1]">
                  <i ng-if="compared !== 0" class="fa" ng-class="(compared <= 0) ? 'fa-angle-up color-green' : 'fa-angle-down color-red'">
                    <span>{{compared}}</span>
                  </i>
                </div>
              </div>
            </td>

            <td ng-repeat="position in row.positions[0]['yandex'] track by $index" sortable="'position'">
              <div class="pull-left">
                {{ position }}
              </div>
              <div class="pull-right" ng-if="!$first && position != '-' && row.positions[0]['yandex'][$index-1] != '-'">
                <div class="position-index" ng-init="compared = position - row.positions[0]['yandex'][$index-1]">
                  <i ng-if="compared !== 0" class="fa" ng-class="(compared <= 0) ? 'fa-angle-up color-green' : 'fa-angle-down color-red'">
                    <span>{{compared}}</span>
                  </i>
                </div>
              </div>
            </td>

            <!--</td>-->
            <!--</td>-->
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
