<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12" style="margin: 10px">
        <h2>Keywords</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
          <thead>
          <tr>
            <td>Фраза</td>
            <td>Частотность</td>
            <td ng-repeat="elem in $data[0].positions | limitTo: 5">{{elem.date}}</td>
          </tr>
          </thead>
          <tr ng-repeat="row in $data">
            <td sortable="'word'">{{row.word}}</td>
            <td sortable="'frequency'">{{row.frequency || 'N/A'}}</td>
            <td ng-repeat="key in row.positions | limitTo: 5" sortable="'position'">
              <div style="float: left;">
                {{ key.position }}
              </div>
              <div ng-if="!show(key.position, $first) && !$first">
                <i class="fa fa-angle-up" style="color: green; float: right;"></i>
              </div>
              <div ng-if="show(key.position, $first) && !$first">
                <i class="fa fa-angle-down" style="color: red; float: right;"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
