<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12" style="margin: 10px">
        <h2>Keywords</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
          <thead>
          <tr>
            <td>Фраза</td>
            <td>Частотность</td>
            <td ng-repeat="elem in $data[0].positions | limitTo: 5">{{elem.date}}</td>
          </tr>
          </thead>
          <tr ng-repeat="row in $data">
            <td sortable="'word'">{{row.word}}</td>
            <td sortable="'frequency'">{{row.frequency || 'N/A'}}</td>
            <td ng-repeat="key in row.positions | limitTo: 5" sortable="'position'">
              <div class="pull-left">
                {{ key.position }}
              </div>
              <div class="pull-right" ng-hide="$first">
                <div class="position-index">
                  <i class="fa" ng-class="((key.position | compare : $first) < 0) ? 'fa-angle-down color-red' : 'fa-angle-up color-green'">
                    <span>{{ key.position | compare : $first }}</span>
                  </i>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
