<div class="page-header">

  <h1>
    Проект "{{item.siteUrl}}"
  </h1>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link" ui-sref=".info" ui-sref-active="active">Общая информация</a></li>
  <li class="nav-item"><a class="nav-link" ui-sref=".pages" ui-sref-active="active">Статистика страниц</a></li>
  <li class="nav-item"><a class="nav-link" ui-sref=".top" ui-sref-active="active">Топ страниц</a></li>
  <li class="nav-item"><a class="nav-link" ui-sref=".positions" ui-sref-active="active">Позиции</a></li>
</ul>

<div class="tab-content" ui-view>

  Testt

</div>