<div ng-controller="asMainMenuCtrl">

  <div class="page-header">
    <h1>&nbsp;</h1>
  </div>

  <div class="list-group">
    <a ui-sref="analytics.dashboard" ui-sref-active="active" class="list-group-item">
      Статистика проектов
    </a>
    <!--a ui-sref="service.main.page({ pageId: visit._id })" class="list-group-item">
      Инструменты для анализа
    </a>
    <a ui-sref="service.main.page({ pageId: visit._id })" class="list-group-item">
      Предупреждения
    </a>
    <a ui-sref="service.main.page({ pageId: visit._id })" class="list-group-item">
      Технический аудит
    </a>
    <a ui-sref="service.main.page({ pageId: visit._id })" class="list-group-item">
      Алгоритмы
    </a-->
    <a ui-sref="experiments" ui-sref-active="active" class="list-group-item">
      Эксперименты
    </a>
    <a ui-sref="service.main.page({ pageId: visit._id })" class="list-group-item">
      Настройка
    </a>
  </div>

</div>