<bz-form model="item" name="editForm" model-state="error" submit="saveItem(item)">
  <div class="modal-header page-header">
    <h3 class="modal-title" style="float: left;">Новый проект</h3>
    <div class="page-actions">
      <a href="#" class="btn btn-primary" type="submit" ng-click="signIn()">
        GA login
      </a>
    </div>
  </div>
  <div class="modal-body">

    <bz-form-control label="Домен" field="siteUrl" help="Например: v-androide.com">



      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-9">
            <ul>
            <div class="checkbox" ng-repeat="site in sites">
              <li style="list-style: none; width: 100%;">
                <p class="bg-success" style="padding: 10px 10px 10px 25px;">
                  <label class="break -align-right">
                    <input style="width: auto;display: inline-block;" type="checkbox" class="form-control check-align -align-left" ng-click="check(site._id)" ng-model="site.$checked"> {{site.siteUrl}}
                  </label>
                </p>
              </li>
            </div>
            </ul>
          </div>
        </div>
      </form>
      <!--<input type="text" name="siteUrl" required ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\.[a-zA-Z]{2,}$/" class="form-control" ng-model="item.siteUrl" />-->

      <ng-messages class="text-danger" for="editForm.siteUrl.$error" role="alert">
        <ng-message when="pattern">Invalid domain name</ng-message>
      </ng-messages>
    </bz-form-control>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="saveItem()" ng-disabled="editForm.$invalid || !checked.length">
      Сохранить
    </button>
    <button class="btn btn-secondary" type="button" ng-click="$close()">Отмена</button>
  </div>
</bz-form>