
<ng-messages class="text-danger" for="report.$error" role="alert">
  <ng-message when="code">{{report.$error.message}}</ng-message>
  <ng-message when="message">Error with request: {{report.$error.message}}</ng-message>
</ng-messages>

<div class="preloader" ng-show="loading">
  <div class="wrapper">
    <span class="circle1"></span>
    <span class="circle2"></span>
    <span class="circle3"></span>
  </div>
</div>


<div bz-loading-container="loading">

  <!--<ng-analytics-chart ng-if="current.chart" chart="current.chart"></ng-analytics-chart>-->
  <ng-analytics-report ng-if="current.queries.length" report-data="report.data" queries="current.queries"></ng-analytics-report>

  <canvas class="chart chart-line" chart-data="chart.data"
          chart-labels="chart.labels" chart-legend="true" chart-series="chart.series"
          options="chart.options" legend="true" height="150">
  </canvas>

  <div ng-if="tabletype !== 'plot'">
    <ul>
      <li ng-repeat="(index,serie) in chartLines">
        <label>{{serie.name}}
          <input ng-click="rechart(chartLines)" type="checkbox" ng-model="serie.$enabled" name="serie" value="{{serie.name}}" ng-model ng-checked="serie.$enabled" />
        </label>
        </li>
      </ul>
      <div class="datepicker">
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">
              <label>С даты</label>
              <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="fromDate" is-open="popupFrom.opened" datepicker-options="dateOptions" ng-required="true" current-text="Сегодня" clear-text="Очистить" close-text="Закрыть"  />
                <div class="input-group-btn">
                  <button style="border: 3px solid #DDDDDD;" class="btn btn-default" ng-click="openFrom()"><i class="fa fa-calendar"></i></button>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <label>По дату</label>
              <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" date-disabled="disabled(date, mode)" ng-model="toDate" is-open="popupTo.opened" datepicker-options="dateOptions" ng-required="true" current-text="Сегодня" clear-text="Очистить" close-text="Закрыть"  />
                <div class="input-group-btn">
                  <button style="border: 3px solid #DDDDDD;" class="btn btn-default" ng-click="openTo()"><i class="fa fa-calendar"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <hr>
              <button class="btn btn-default" ng-click="refreshData()">Получить значения</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" ng-if="table.total.length && tabletype !== 'plot' ">
  <div class="row" ng-if="table.total.length">
    <div class="col-xs-12">

      <h5>Всего:</h5>

    </div>
    <div class="col-xs-6 col-md-3" ng-repeat="item in table.total">

      <div class="panel status panel-info">
        <div class="panel-heading">
          <h1 class="panel-title text-center">{{item.value | number: 2}}</h1>
        </div>
        <div class="text-center">
          <small>{{item.uiName}}</small>
        </div>
      </div>

    </div>
  </div>

  <div ng-if="headers">
    <table ng-table-dynamic="tableParams with headers" class="table table-striped">

      <tr data-ng-repeat="(j,cols) in $data">
        <td data-ng-repeat="(n, col) in cols track by $index" class="asc" >
          <span>{{col}}</span>
        </td>
      </tr>
    </table>
  </div>

</div>